body {
    background-color: #fcfdfd;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#app {
    display: inline-block;
}

#current-time{
    font-size: 20px;
}
button { 
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


#login-icon {
    padding: 0;
    margin: 0;
   
}

#break-btn {
    padding: 10px 20px;
    background-color: orange;
}

#timer {
    font-size: 24px;
    margin-top: 20px;
}

#status {
    background-color: rgb(126, 226, 126);
    border-radius: 5px;
    padding: 5px 10px;
}